/* Magic Table Style */
.list {
  display: flex;
}

.listContainer {
  margin-left: 20px; /* Adjust the margin as needed */
  margin-top: ;
}

#example {
  margin-top: 20px auto;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

#example th,
#example td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#example th {
  background-color: #f2f2f2;
  color: #333;
}

#example tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#example tbody tr:hover {
  background-color: #f1f1f1;
}

.action-btns {
  display: flex;
  justify-content: space-around;
}

.action-btns button {
  border: none;
  cursor: pointer;
  background: none;
  outline: none;
}

.action-btns button .button_top {
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.action-btns button .edit {
  background-color: #ffcc00;
}

.action-btns button .view {
  background-color: #00cc66;
}

.action-btns button .delete {
  background-color: #ff6666;
}
.cube-loader {
  position: relative;
  width: 40px;
  height: 40px;
  margin: auto;
}

.cube {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: #333;
  border: 2px solid #fff;
  animation: foldCube 2.4s infinite linear;
}

/* Individual cube positioning */
.cube1 {
  top: 0;
  left: 0;
  transform-origin: 100% 100%;
}
.cube2 {
  top: 0;
  right: 0;
  transform-origin: 0 100%;
}
.cube3 {
  bottom: 0;
  right: 0;
  transform-origin: 0 0;
}
.cube4 {
  bottom: 0;
  left: 0;
  transform-origin: 100% 0;
}

/* Keyframes for the folding animation */
@keyframes foldCube {
  0%,
  10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

/* Animation delay for each cube */
.cube1 {
  animation-delay: 0.3s;
}
.cube2 {
  animation-delay: 0.6s;
}
.cube3 {
  animation-delay: 0.9s;
}
.cube4 {
  animation-delay: 1.2s;
}
.datatableTitle {
  margin-top: 10px;
  width: 100%;
  font-size: 24px;
  color: gray;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .link {
      text-decoration: none;
      color: green;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid green;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
  }